In [35]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

ri = pd.read_csv('https://assets.datacamp.com/production/repositories/1497/datasets/62bd9feef451860db02d26553613a299721882e8/police.csv')

ri.drop('county_name', axis='columns', inplace=True)
ri.columns

ri.drop('state', axis='columns', inplace = True)

print(ri.isnull().sum())

stop_date                 0
stop_time                 0
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested            5202
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64

In [36]:
ri.dropna(subset=['driver_gender'], inplace=True)
print(ri.isnull().sum())

stop_date                 0
stop_time                 0
driver_gender             0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           83229
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
district                  0
dtype: int64

In [37]:
ri.shape

(86536, 13)

In [38]:
ri.dtypes

stop_date             object
stop_time             object
driver_gender         object
driver_race           object
violation_raw         object
violation             object
search_conducted        bool
search_type           object
stop_outcome          object
is_arrested           object
stop_duration         object
drugs_related_stop      bool
district              object
dtype: object

In [39]:
print(ri.is_arrested.head)
ri['is_arrested'] = ri.is_arrested.astype('object')

print(ri.is_arrested.dtypes)

<bound method NDFrame.head of 0        False
1        False
2        False
3         True
4        False
         ...
91736    False
91737    False
91738    False
91739    False
91740    False
Name: is_arrested, Length: 86536, dtype: object>
object

In [40]:
ri['stop_date'] = ri.stop_date.astype('date_time')

TypeError: data type "date_time" not understood

In [ ]:
ri ['combined'] = ri.stop_date.str.cat(ri.stop_time, sep= ' ')
ri.combined.head()

In [ ]:
ri['stop_datetime'] = pd.to_datetime(ri.combined)

In [ ]:
ri.stop_datetime.dtypes

In [ ]:
ri.head()

In [ ]:
ri.set_index(ri.stop_datetime, inplace=True)

In [ ]:
ri.head()

In [ ]:
female = ri[ri.driver_gender == 'F']
male = ri[ri.driver_gender == 'M']

print(female.violation.value_counts(normalize=True))
print(male.violation.value_counts(normalize=True))

In [ ]:
ri.columns

In [ ]:
female_and_speeding = ri[(ri.violation == 'Speeding') & (ri.driver_gender == 'F')]

male_and_speeding = ri[(ri.violation == 'Speeding') & (ri.driver_gender == 'M')]

print(female_and_speeding.stop_outcome.value_counts(normalize=True))

print(male_and_speeding.stop_outcome.value_counts(normalize=True))

In [ ]:
ri.head()

In [ ]:
ri[ri.district=='Zone K2'].is_arrested.value_counts()

In [ ]:
print(ri[(ri.driver_gender == 'F') & (ri.violation == 'Speeding')].stop_outcome.value_counts(normalize=True))

In [ ]:
ri['frisk'] = ri.search_type.str.contains('Protective Frisk', na=False)

In [ ]:
searched = ri[ri.search_conducted == True]

print(searched.frisk.mean())

In [ ]:
import matplotlib.pyplot as plt

hourly_arrest_rate = ri.groupby(ri.index.hour).is_arrested.mean()

#Create a line plot of 'hourly_arrest_rate'
hourly_arrest_rate.plot()

# Add the xlabel, ylabel, and title
plt.xlabel('hour')
plt.ylabel('Arrest_rate')
plt.title('Arrest Rate by Time of Day')

# Display the plot
plt.show()

In [ ]:
ri['stop_datetime'] = ri.stop_date.str.cat(ri.stop_time, sep= ' ')

In [ ]:
ri['stop_datetime'] = pd.to_datetime(ri.stop_datetime)

ri.dtypes

In [ ]:
ri['is_arrested'] = ri.is_arrested.astype('bool')

In [ ]:
ri.set_index(ri.stop_datetime, inplace=True)
ri.head()

In [ ]:
ri.index.hour

In [ ]:
print(ri.groupby(ri.index.hour).is_arrested.mean())

In [ ]:
hourly_arrest_rate = ri.groupby(ri.index.hour).is_arrested.mean()

import matplotlib.pyplot as plt
hourly_arrest_rate.plot()

plt.xlabel('Hour')
plt.ylabel('Arrest Rate')
plt.title('Arrest Rate by Time of Day')

In [ ]:
ri.head()

In [ ]:
# Calculate the annual rate of drug-related stops
print(ri.drugs_related_stop.resample('A').mean())

# Save the annual rate of drug-related stops
annual_drug_rate = ri.drugs_related_stop.resample('A').mean()

# Create a line plot of 'annual_drug_rate'
annual_drug_rate.plot()

# Display the plot
plt.show()

In [ ]:
# Calculate and save the annual search rate
annual_search_rate = ri.search_conducted.resample('A').mean()

# Concatenate 'annual_drug_rate' and 'annual_search_rate'
annual = pd.concat([annual_drug_rate, annual_search_rate], axis='columns')

In [ ]:
# Calculate and save the annual search rate
annual_search_rate = ri.search_conducted.resample('A').mean()

# Concatenate 'annual_drug_rate' and 'annual_search_rate'
annual = pd.concat([annual_drug_rate, annual_search_rate], axis='columns')

# Create subplots from 'annual'
annual.plot(subplots=True)

# Display the subplots
plt.show()

In [ ]:
print(pd.crosstab(ri.district, ri.violation))

In [ ]:
ri.head()

In [ ]:
# Create a frequency table of districts and violations
print(pd.crosstab(ri.district, ri.violation))

# Save the frequency table as 'all_zones'
all_zones = pd.crosstab(ri.district, ri.violation)

# Select rows 'Zone K1' through 'Zone K3'
print(all_zones.loc['Zone K1':'Zone K3'])

# Save the smaller table as 'k_zones'
k_zones = all_zones.loc['Zone K1':'Zone K3']

In [ ]:
# Print the unique values in 'stop_duration'
print(ri.stop_duration.unique())

# Create a dictionary that maps strings to integers
mapping = {'0-15 Min': 8, '16-30 Min' :23, '30+ Min': 45}

# Convert the 'stop_duration' strings to integers using the 'mapping'
ri['stop_minutes'] = ri.stop_duration.map(mapping)

# Print the unique values in 'stop_minutes'
print(ri.stop_minutes.unique())

In [ ]:
print(ri.groupby(ri.violation_raw).stop_minutes.mean())

In [ ]:
# Calculate the mean 'stop_minutes' for each value in 'violation_raw'
print(ri.groupby(ri.violation_raw).stop_minutes.mean())

# Save the resulting Series as 'stop_length'
stop_length = ri.groupby(ri.violation_raw).stop_minutes.mean()

# Sort 'stop_length' by its values and create a horizontal bar plot
stop_length.sort_values().plot(kind='barh')

# Display the plot
plt.show()

In [ ]:
weather = pd.read_csv('https://assets.datacamp.com/production/repositories/1497/datasets/02f3fb2d4416d3f6626e1117688e0386784e8e55/weather.csv')

In [ ]:
weather.head()

In [ ]:
# Describe the temperature columns
print(weather[['TMIN', 'TAVG', 'TMAX']].describe() )

# Create a box plot of the temperature columns
weather[['TMIN', 'TAVG', 'TMAX']].plot(kind='box')

# Display the plot
plt.show()

In [ ]:
# Create a 'TDIFF' column that represents temperature difference
weather['TDIFF'] = weather.TMAX - weather.TMIN

# Describe the 'TDIFF' column
print(weather.TDIFF.describe())

# Create a histogram with 20 bins to visualize 'TDIFF'
weather.TDIFF.plot(kind = 'hist', bins=20)

# Display the plot
plt.show()

In [ ]:
# Copy 'WT01' through 'WT22' to a new DataFrame
WT = weather.loc[:, 'WT01':'WT22']

# Calculate the sum of each row in 'WT'
weather['bad_conditions'] = WT.sum(axis='columns')

# Replace missing values in 'bad_conditions' with '0'
weather['bad_conditions'] = weather.bad_conditions.fillna(0).astype('int')

# Create a histogram to visualize 'bad_conditions'
weather.bad_conditions.plot('hist')

# Display the plot
plt.show()

In [ ]:
# Count the unique values in 'bad_conditions' and sort the index
print(weather.bad_conditions.value_counts().sort_index())

# Create a dictionary that maps integers to strings
mapping = {0:'good', 1:'bad', 2:'bad', 3:'bad', 4:'bad', 5:'worse', 6:'worse', 7:'worse', 8:'worse', 9:'worse'}

# Convert the 'bad_conditions' integers to strings using the 'mapping'
weather['rating'] = weather.bad_conditions.map(mapping)

# Count the unique values in 'rating'
print(weather.rating.value_counts())

In [ ]:
# Create a list of weather ratings in logical order
cats = ['good', 'bad', 'worse']

# Change the data type of 'rating' to category
weather['rating'] = weather.rating.astype('category', ordered=True, categories=cats)


# Examine the head of 'rating'
print(weather.rating.head())

In [42]:
weather.head()

,STATION,DATE,TAVG,TMIN,TMAX,AWND,WSF2,WT01,WT02,WT03,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22
0,USW00014765,2005-01-01,44.0,35,53,8.95,25.1,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00014765,2005-01-02,36.0,28,44,9.40,14.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
2,USW00014765,2005-01-03,49.0,44,53,6.93,17.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,USW00014765,2005-01-04,42.0,39,45,6.93,16.1,1.0,NaN,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,USW00014765,2005-01-05,36.0,28,43,7.83,17.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN

In [43]:
ri.head()

,stop_date,stop_time,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,2005-01-04,12:55,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,2005-01-23,23:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,2005-02-17,04:15,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,2005-02-20,17:15,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,2005-02-24,01:20,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3